[Unit]
Description=Run clickhouse
After=network-online.target
Requires=network-online.target

[Service]

ExecStart=/usr/bin/docker run \
            --env-file /opt/slam/.clickhouse.env \
            --rm \
            -v /opt/slam/config/clickhouse_config.xml:/etc/clickhouse-server/config.xml \
            -v /opt/slam/config/clickhouse_metrika.xml:/etc/clickhouse-server/metrika.xml \
            -v /opt/slam/config/macros/macros-01.xml:/etc/clickhouse-server/config.d/macros.xml \
            -v /opt/slam/config/users.xml:/etc/clickhouse-server/users.xml \
            -v /opt/slam/config/table/:/docker-entrypoint-initdb.d \
            --name clickhouse \
            --ulimit nofile=262144:262144 \
            --network=host \
            yandex/clickhouse-server:21-alpine 

ExecStop=/usr/bin/docker stop clickhouse

WorkingDirectory=/opt/slam
StandardOutput=journal+console
User=root
Group=root
TimeoutSec=120
Restart=on-failure

[Install]
WantedBy=multi-user.target
